{% extends "base.html" %} {% from "bootstrap4/form.html" import render_form %}
{% block title %}Flasky - Password Reset{% endblock %} {% block page_content
%}{% block head %} {{ super() }} {% if current_user.is_authenticated %}
<meta
  http-equiv="refresh"
  content="10; url={{ url_for('auth.change_password') }}"
/>
{% endif %} {% endblock %}
<div class="page-header">
  <h1>Reset Your Password</h1>
</div>
<div class="col-md-4">
  {% if not current_user.is_authenticated %}
  <div>{{ render_form(form) }}</div>
  {% else %}
  <div>
    <p>
      To update your password, please visit
      <a href="{{ url_for('auth.change_password') }}">Change password</a> page
      instead.
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
